<?xml version="1.0" encoding="utf-8"?>
<configuration>
  

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NullVoidCreations.WpfHelpers" publicKeyToken="203b8d613f6ac171" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.8.1.13" newVersion="18.8.1.13" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data> 
   <DbProviderFactories> 
     <add name="dotConnect for SQLite" invariant="Devart.Data.SQLite" description="Devart dotConnect for SQLite" type="Devart.Data.SQLite.SQLiteProviderFactory, Devart.Data.SQLite, Version=5.11.1202.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
   </DbProviderFactories> 
  </system.data></configuration>