<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net40" />
  <package id="Dapper.Contrib" version="1.50.0" targetFramework="net40" />
  <package id="dotConnect.Express.for.SQLite" version="5.11.1190" targetFramework="net40" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net40" />
  <package id="NullVoidCreations.Licensing" version="18.8.9.21" targetFramework="net40" />
  <package id="NullVoidCreations.WpfHelpers" version="18.8.1.13" targetFramework="net40" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net40" />
</packages>